body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.about h1{
    padding: 10px 15px;
    text-align: center;
}

.about h2{
    padding: 10px 10px;
}

/* .about .list-container{

} */

.about .list-container ol{
    line-height: 25px;
    padding: 5px 20px;
}

.about p{
    display: flex;
    line-height: 25px;
    padding: 5px;
}