*{
    padding: 0;
    margin: 0;
    background-color: #F24236;
}

.form-container{
    box-sizing: border-box;
    border: 2px solid;
    border-radius: 5px;    
    font-weight: 600;
    font-size: 20px;
    height: 300px;
}

.form-container h2{
    display: flex;
    justify-content: center;
}

.form-container form{
    padding: 20px;
    margin-bottom: 30px;
}

.form-container label{
    font-size: 20px;
}

.form-container select{
    font-size: 20px;
    border-radius:3px ;
}

.form-container option{
    font-size: 20px;
}

.form-container input{
    width: 10vw;
    height: 2vw;
    border-radius: 3px;
    font-size: 20px;

}

.form-container .btn{
    width: 8vw;
    height: 4vw;
    border-radius: 5px;
    background-color: orange;
    color: black;
    cursor: pointer;
    transition: ease-in-out 0.3s;
}

.form-container .btn:hover{
    background-color: black;
    color: orange;
}