.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f7f9fc;
    padding: 20px;
    border-radius: 10px;
    max-width: 500px;
    margin: 20px auto;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    font-family: Arial, sans-serif;
    box-sizing: border-box;
    width: 100%;
}

.form-container form{
    box-sizing: border-box;
    width: 100%;
}

.form-container h2 {
    color: #333;
    font-size: 1.8rem;
    margin-bottom: 20px;
    font-weight: bold;
    text-align: center;
}

label {
    font-size: 1rem;
    color: #4a4a4a;
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
select {
    width: 100%;
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-bottom: 15px;
    box-sizing: border-box;
    color: #333;
}

input[type="text"]:focus,
select:focus {
    outline: none;
    border-color: #f67c7c;
    box-shadow: 0 0 4px rgba(246, 124, 124, 0.5);
}

.btn-container {
    text-align: center;
}

.btn {
    background-color: #f67c7c;
    color: #fff;
    padding: 12px 20px;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #e04e4e;
}

.form-container .btn{
    width: 8vw;
    height: 4vw;
    border: none;
    border-radius: 5px;
    justify-content: center;
    background-color: orange;
    color: black;
    cursor: pointer;
    transition: ease-in-out 0.3s;
}

.form-container .btn:hover{
    background-color: black;
    color: orange;
} 

.message {
    font-size: 1rem;
    color: #666666;
    text-align: center;
    margin-top: 10px;
}

.message.success {
    color: #6cc070;
}

.message.error {
    color: #f67c7c;
}
